@charset "utf-8";


main .list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

main .list label {
  border: 1px solid #aaa;
  cursor: pointer;
  min-width: 130px;
  text-align: center;
  color: #222;
  padding: 20px 10px;
  letter-spacing: -1px;
}

main .list label.on {
  background: #555;
  color: #fff;
}

main .list label:not(:last-of-type) {
  border-right: none;
}

.desc {
  background: #ccc;
  width: 100%;
  /* height: auto; */
  position: relative;
}

.desc li {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Noto Sans KR", sans-serif;
  opacity: 1;
  opacity: 0;
}

.desc li.on {
  opacity: 1;
}

.desc li .title2 {
  width: 100%;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  padding: 150px 0;
  margin: 50px 0;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.desc li .desc_tit {
  width: 100%;
  text-align: center;
}

.desc .desc_con {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.desc .desc_con div {
  flex: 1;
  word-break: keep-all;
}

.desc .desc_con div p {
  margin: 10px 0;
}