@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.subTitle {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 100px;
  text-align: center;
  background: url(../images/sub_title_info.jpg) center/cover no-repeat;
}

.subTitle .txt {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.subTitle .txt h1 {
  margin-top: 16px;
  font-size: 48px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

section .wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}