@charset "utf-8"
@font-face {
  font-family: Metropolis;
  src: url(../webfonts/Metropolis-Light.woff) format("woff");
}
@font-face {
  font-family: NotoSansKR;
  src: url(../webfonts/NotoSansKR-Light.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: Metropolis, NotoSansKR, 맑은고딕, MalgunGothic, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  /* width: 100%; */
  padding: 0 80px;
}
header .top {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}
header .top ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
header .top ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top ul li a {
  color: #666666;
  font-size: 15px;
}
header .top ul li:nth-child(3) {
  padding-left: 10px;
}
header .top ul li:nth-child(3) a {
  color: #fff;
  border: 1px solid #e36f96;
  border-radius: 50px;
  background: #e36f96;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .top ul li:nth-child(4) a {
  color: #fff;
  border: 1px solid #9badb6;
  border-radius: 50px;
  background: #9badb6;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .nav {
  width: 90%;

  padding: 20px 0 70px 0;
  display: flex;
  justify-content: space-between;
  background: #fff;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 10;
  margin-bottom: 200px;
}
header .nav > a {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
header .nav > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
}
header .nav .left,
header .nav .right {
  display: flex;
  gap: 30px;
}
header .nav > div > div {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
}
header .nav > div > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
header .nav div > div > a {
  display: inline-block;
  color: #333;
}
header .nav .one_dep {
  position: relative;
}
header .nav .one_dep div a span:nth-child(2) {
  display: none;
}
header .nav .two_dep {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  background: #fff;
}
header .nav .two_dep.on {
  height: 150px;
}
.con {
  /* width: 100%; */
  padding: 0 80px;
  margin-top: 200px;
}
.con > p:nth-child(1) {
  /* width: 90%; */
  padding: 20px 0;
  box-sizing: border-box;
  margin: 0 auto;
}
.con > p:nth-child(1) video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.con2 {
  width: 100%;
  padding: 20px 80px;
  position: relative;
}
.con2 h1,
.con3 h1,
.con4 h1,
.con5 h1 {
  font-size: 50px;
  font-weight: 300;
  color: #333;
  text-align: center;
  padding: 100px 0 50px 0;
}
.con2 > a,
.con3 > a {
  position: absolute;
  right: 15%;
  top: 120px;
  text-decoration: none;
  font-size: 16px;
  color: #666;
}
.con2 .inner {
  display: flex;
  height: 800px;
  gap: 30px;
}
.con2 .inner .left,
.con2 .inner .right {
  flex: 1;
}
.con2 .inner .swiper {
  width: 710px;
  height: 100%;
}
.con2 .down {
  width: 100%;
  height: 800px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 30px; */
}
.con2 .down div {
  /* flex: 1; */
}
.con2 .down .left {
  font-size: 16px;
  width: 300px;
  height: 150px;
}
.con2 .down .left a {
  display: block;
  margin-bottom: 27px;
  color: #999;
}
.con2 .down .left a.on {
  color: #0890c0;
  font-size: 22px;
  font-weight: bold;
}
.con2 .down .swiper {
  width: 710px;
  height: 800px;
}
.con2 .down .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con2 .down .swiper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con2 .down > .center {
  width: 100%;
  height: 100%;
  position: relative;
}
.con2 .down > .center video {
  width: 100%;
  height: 800px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
}
.con2 .down > .center video.on {
  opacity: 1;
}
.con2 .down .right {
  position: relative;
}
.con2 .down .right li {
  position: absolute;
  left: 0;
  top: -100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
}
.con2 .down .right li h3 {
  font-size: 35px;
  color: #333;
}
.con2 .down .right li p {
  font-size: 18px;
  color: #666;
}
.con2 .down .right li.on {
  opacity: 1;
}

/* @media screen and (max-width: 1700px) {
}
@media screen and (max-width: 1500px) {
  header .nav > a {
    left: 85px;
    top: 10px;
  }
  header .nav {
    justify-content: end;
  }
  header .nav .right div:nth-child(1),
  header .nav .right div:nth-child(2),
  header .nav .right div:nth-child(3),
  header .nav .right div:nth-child(4),
  header .nav .right div:nth-child(5) {
    opacity: 0;
  }
} */

.con3 {
  width: 100%;
  /* margin: 0 auto; */
  /* padding-left: 80px; */
  position: relative;
  background: #f4f7fa;
}
.con3 .swiper {
  width: 100%;
}
.con3 .mySwiper1 .swiper-slide {
  text-align: center;
  width: 1280px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con3 .swiper-slide img {
  display: block;
  width: 100%;
  /* height: 720px; */
  object-fit: cover;
}

/* con4 swiper
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
} */

.con4 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #f4f7fa;
}
.con4 .con4_wrap {
  width: 1440px;
  margin: 0 auto;
}
.con4 .con4_wrap .down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.con4 .con4_wrap .down .left {
  flex: 1 1 100%;
  font-size: 26px;
  color: #333;
}
.con4 .con4_wrap .down .con {
  flex: 1 1 100%;
  position: relative;
}
.con4 .con4_wrap .down .con a {
  display: block;
  width: 100%;
}
.con4 .con4_wrap.down .con a img {
  width: 100%;
  object-fit: cover;
}
.con4 .con4_wrap .down .right {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
.con4 .con4_wrap .down .right a {
  display: block;
  font-size: 16px;
  color: #999;
  padding-bottom: 30px;
}
.con4 .con4_wrap .down .right a span {
  font-size: 20px;
  color: #999;
}

.con5 {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.con5 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.con5 ul li {
  width: 100%;
  flex: 20%;
}
.con5 ul li a {
  display: block;
  width: 100%;
}
.con5 ul li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con5 p {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.con6 {
  width: 100%;
}
.con6 img {
  width: 100%;
}
